{% extends 'layout.html' %}
{% block content %}
<title>Floorsheet</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css"/>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
<!--Bootstrap-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


   <body>
      <div class="main-content">
         <header>
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
               crossorigin="anonymous"></script>
         </header>
         <main>
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
            <div class="wrapper">
               <div class="inside" style="padding:2rem; display: flex;justify-content: center;">
                  <h3 style="color:{{ color }};">{{ msg }}</h3>
                  <form class="inputField mb-3" action="/floorsheet" method="post" style="text-tranform:uppercase">
                     <div class="inputField" style="margin-bottom:0.3rem;">
                        <input name="buyer" value=" " type="number" class="textField" type="number" placeholder="Buyer Broker" aria-label="Buyer">
                     </div>
                     <div class="inputField" style="margin-bottom:0.7rem;">
                        <input name="seller" value=" " type="number" class="textField" type="number" placeholder="Seller Broker" aria-label="Seller">
                     </div>
                     <div class="inputField">
                        <button class="btn btn-primary btn-block" type="data" style="width:10rem;margin-left:10rem;">Show Data</button>
                     </div>
                  </form>
               </div>
            </div>
            <div class="card">
               <h4 class="text-center" style="color:white;"><br><br>Stock Data for <br>Buying Broker {{ buy }} <br> Selling Broker {{ sell }}</h4>
               <div class="card-body" style="padding-left:5rem;padding-right:5rem;">
                  <div class="mt-4" style="padding:2rem;">
                     <table id="proxies" class="table table-striped table-bordered table-responsive" style="width: 100%">
                        <thead style="font-weight:500;">
                           <tr>
                              {% for header in result[0].keys() %}
                              <th>{{header}}</th>
                              {% endfor %}
                           </tr>
                        </thead>
                        <tbody style="text-align:center;">
                           {% for row in result %}
                           <tr>
                              {% for index in range(0, len(fieldnames)) %}
                              <td>{{  row[fieldnames[index]]  }}</td>
                              {% endfor %}
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <script type="text/javascript">
               $('#proxies').DataTable();
            </script>
            <script type="text/javascript">
               $(document).on('click', 'ul li',function(e){
                   $(this).addClass('active').siblings().removeClass('active')
               })
            </script>

         </main>
      </div>
   </body>

<style>
body{
background-color:#1b203d;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
   color:white;
}

.textField{
  border-radius: 25px;
  padding:1rem;
  width:30rem;
}
.btn-primary{
 background-color:#272c4a !important;
}

</style>
{% endblock %}