<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Floorsheet</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css"/>
      <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
   </head>
   <body>
      <div class="main-content">
         <header>
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
               crossorigin="anonymous"></script>
         </header>
         <main>
            <h3 class="center">Today's Floorsheet</h3>
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
            <div class="wrapper">
               <div class="inside" style="padding:2rem">
                  <h3 style="color:{{ color }};">{{ msg }}</h3>
                  <form class="inputField mb-3" action="/floorsheet" method="post" style="text-tranform:uppercase">
                     <div class="inputField">
                        <input name="buyer" value=" " type="number" class="textField" type="number" placeholder="Buyer Broker" aria-label="Buyer">
                     </div>
                     <div class="inputField">
                        <input name="seller" value=" " type="number" class="textField" type="number" placeholder="Seller Broker" aria-label="Seller">
                     </div>
                     <div class="inputField">
                        <button class="btn btn-primary btn-block" type="data">Show Data</button>
                     </div>
                  </form>
               </div>
            </div>
            <div class="card" style="background-color:white;">
               <h4 class="text-center">Stock Data for <br>Buying Broker {{ buy }} <br> Selling Broker {{ sell }}</h4>
               <div class="card-body" style="padding-left:5rem;padding-right:5rem;">
                  <div class="mt-4" style="padding:2rem;">
                     <table id="proxies" class="table table-striped table-bordered responsive" style="width: 100%">
                        <thead style="background-color:#0dc7e8;font-weight:500;">
                           <tr>
                              {% for header in result[0].keys() %}
                              <th>{{header}}</th>
                              {% endfor %}
                           </tr>
                        </thead>
                        <tbody style="text-align:center;">
                           {% for row in result %}
                           <tr>
                              {% for index in range(0, len(fieldnames)) %}
                              <td>{{  row[fieldnames[index]]  }}</td>
                              {% endfor %}
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <script type="text/javascript">
               $('#proxies').DataTable();
            </script>
            <script type="text/javascript">
               $(document).on('click', 'ul li',function(e){
                   $(this).addClass('active').siblings().removeClass('active')
               })
            </script>
         </main>
      </div>
   </body>
</html>
<style>
   .btn-block{
   color: #fff;
   background-color:#0dc7e8;
   padding:0.3rem;

   }
   .nextCol{
   margin-top:1em;
   }
   thead tr td{
   font-weight:900;
   font-size:1.1rem;
   }
   tbody td{
   font-size:1rem;
   }
   input-group{
   height:11rem !important;
   }
   table.table-dark tr{
   text-align:center;
   color:black;
   background:#fff;
   }
   .table-dark td{
   border:none;
   }
   tr.table-head{
   background:#000 !important;
   color:#fff !important;
   }
</style>